.topnav{
     position:fixed;
     
}
.topnav ul{
     position: absolute;
     top: 0;
     left: 0;
     z-index: 1;
}
 .topnav ul li{
     margin-top: 0.375rem;
     float: left;
     color: #fff;
     font: 1.5rem/1.5rem '';
}
 .topnav .li2{
     margin: 0.375rem 0.65rem 0 0.65rem;
     width: 11.125rem;
     height: 1.5rem;
     background-color: #fff;
     border: 1px solid #000;
     border-radius: 0.125rem;
}
 .banner{
     width: 16rem;
     height: 7.125rem;
     position: relative;
     overflow: hidden;
     position:relative;
}
 .banner ul{
     width: 96rem;
     height: 7.125rem;
     position: absolute;
     left: 0;
     top: 0;
}
 .banner ul li{
     float: left;
     width: 16rem;
     height: 7.125rem;
}
 .banner ul li img{
     width: 100%;
     height: 100%;
}
 .column{
     border-radius: 0.125rem;
     background-color: #FFFFFF;
}
 .column ul li{
     float:left;
     margin: 0.6rem;
}
 .column ul li div{
     width: 2.5rem;
     height: 2.5rem;
     border-radius: 50%;
}
 .column ul li div img{
     width: 100%;
     height: 100%;
}
 .column ul li p{
     font: 0.55rem/1.05rem '';
}
 .content{
     margin-top: 0.5rem;
     margin-bottom: 0.5rem;
     border-radius: 0.125rem;
     background-color: #FFFFFF;
}
 .content_top{
}
 .content_top h2{
     font: 0.6rem/1.6rem '';
     margin-left: 0.15rem;
     border-bottom: 0.025rem solid #DADADA;
}
 .content_top h2 span{
     font: 0.6rem/1.6rem '';
     color: #2A89DE;
     margin: 0 0.35rem;
}


 .content_btt_lt{
	float: left;
	font: 0.55rem/0.95rem '';
	border-right: 0.025rem solid #DADADA;
	padding: 1.025rem 0.65rem 0.8rem 1.15rem;
}
.content_btt_lt span{
	color: #FF4D11;
}
.content_btt_lt div{
	width: 5.9rem;
    height: 4.125rem;
    margin-top: 0.675rem;
}
.content_btt_lt div img{
	width: 100%;
	height: 100%;
}
 .content_btt_rt{
 	float: left;
 }
.content_top_rt_tp{
	width: 7.825rem ;
	font: 0.55rem/0.95rem '';
	border-bottom: 0.025rem solid #DADADA;
}
.content_top_rt_tp div{
	float: left;
}
.content_top_rt_tp .b{
	width: 3.825rem;
	height: 4.075rem; 
}
.content_top_rt_tp .b img{
	width: 100%;
	height: 100%;
}
.content_top_rt_bt{
	font: 0.55rem/0.95rem '';
}
.content_top_rt_bt div{
	float: left;
}
.content_top_rt_bt .a{
	width: 3.5rem;
	height: 3.75rem; 
}
.content_top_rt_bt .a img{
	width: 100%;
	height: 100%;
}
.guang img{
	width: 100%;
	height: 100%;
}

 .login{
     font: 0.3rem/1.05rem '';
     color: #2A8ADE;
     position: relative;
}
 .login_img{
     width: 2.05rem;
     height: 2.05rem;
     border-radius: 50%;
     overflow: hidden;
     position: absolute;
     top: -2.05rem;
     left: 0.5rem;
}
 .login_img img{
     width: 100%;
     height: 100%;
}
 .login_a ul{
     float: left;
}
 .login_a h6{
     float: right;
}
 .login_a ul li{
     float: left;
}
 .login_a ul li span{
     margin: 0 0.4rem;
}
 .footer{
     width: 100%;
     background-color: #1771D2;
     text-align: center;
}
 .footer ul{
     font-size: 0;
}
 .footer ul li{
     display: inline-block;
     font: 0.35rem/1.05rem '';
     color: #fff;
}
 .footer_btt{
     background-color: #2A8ADE;
     margin: 0 auto;
}
 .footer_btt li{
     padding-left: 0.65rem;
     margin: 0 0.325rem;
     background: url(../img/tb.png) no-repeat left;
}
 .footer p{
     font: 0.35rem/1.05rem '';
     color: #FFFF99;
}
 
